# Secrets
.env
*.key

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data mentah
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# ChromaDB
chroma_db/
*.chroma

# Model weights
models/
*.bin
*.safetensors

# Logs
logs/*
!logs/.gitkeep

# OS
.DS_Store
Thumbs.db
